*{
    margin:0;
    padding:0;
    font-family: Poppins,sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
    background: url('./images/rain.jpg');
    background-size: cover;
}
.main{
    display: flex;
    justify-content: space-around;
}
.card-1{
    width: 70%;
     max-width:800px;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    color: #fff;
    margin: 60px 0 0 auto;
    border-radius: 20px 0 0 20px;
    padding:20px 15px;
    text-align: center;
    background:#dbd8e3;
    color: #222;
}
.card-2{
    width: 30%;
    max-width:300px;
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    color: #fff;
    margin: 60px auto 0 0;
    border-radius: 0 20px 20px 0;
    padding: 20px 15px;
    text-align: center;
    background: #5c5470;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
    
}

.weather-icon{
    width: 170px;  
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
    
}
.humidity,.wind{
    font-size: 20px;
    margin-top: -6px;
}
.weather-forecast{
   
    display: flex;
    margin-top:10px;
    border-radius: 10px;
}
.day{
    width:20%;
    margin:10px;
    background-color: #72688b;
    color: #fff;
    border-radius: 10px;
    padding:10px;
}
.day p{
    font-size: 15px;

}
.day img{
    width: 90px;
    margin:0;
    padding:0;
    
}
.day .day-name{
    margin:20px 0 0 0;
}
.day .weather-type{
    margin:0 0 5px 0;
}
.Day-weatherforecast{
    padding-top:10px ;
}
.Day-weatherforecast h1{
    font-size: 40px;
    font-weight: 500;
}
.box{
    padding: 10px;
}
.box .wish{
    font-size: 35px;
    font-weight: 500;
    margin-bottom:5px;
}
.current-location-btn{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    font-size:18px;
    padding: 10px 25px;
    height: 60px;
    width: 100%;
    border-radius: 30px;
    margin-right: 16px;
    cursor: pointer;
}
.row{
    display: flex;
    justify-content: space-around;
    padding:7px;
    font-size: 20px;
    background:#dbd8e3;
    color:#000;
    border-radius: 10px;
    margin:5px;

}
.row .temp{
    font-size:25px;
    font-weight: 800;
}
.row p{
    padding: 5px;
}
.row .icon{
    margin-top:30px;
}
.icons{
    font-size:50px;
    font-weight: 1000px;
}
.hourly-forecast{
    max-height:550px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.hour-line{
    font-size: 35px;
    font-weight: 500;
    margin:5px;
}
.hourly-forecast::-webkit-scrollbar{
    width:4px;
}
.hourly-forecast::-webkit-scrollbar-thumb{
    background:linear-gradient(135deg,#fff,#222);
    border-radius: 10px;
    
}
.hourly-forecast::-webkit-scrollbar-track{
    background-color: #e9e9e9;
    border-radius: 10px;
}
.hourly-forecast::-webkit-scrollbar-corner{
    border-radius: 10px;
}
.temp-line{
    font-weight: bold;
}
.current-location-btn:hover{
        background: #dbd8e3;
}


